/* img.stanleylieber.com */
body { display: flex; flex-wrap: wrap; font-family: sans; }
header { flex-basis: 99%; flex-shrink: 0; padding-left: 1em; padding-bottom: 1em; }
article { flex-basis: 99%; padding: 0; }
footer { flex-basis: 99%; flex-shrink: 0; }
header nav { display: flex; justify-content: space-between; }
footer { display: flex; justify-content: space-between; }

body { margin:0; padding: 0; font-size: 10pt; font-family: Helvetica, Verdana, Arial, 'Liberation Sans', FreeSans, sans-serif; background-color: #000000; color: #FFFFFF; }
a { text-decoration: none; color: #FFFFFF; background-color: #000000;  font-weight: bold; }
a:hover { text-decoration: none; background-color: #FFFFFF; color: #000000; }

/* header and top bar */
header h3 { padding-bottom: 2px; }
header a img { vertical-align: bottom; padding-top: 1em; }

/* main copy */
article { padding-left: 1em; padding-right: 1em; }
article nav { padding-bottom: 2px; }
article div { padding-top: 2px; padding-bottom: 2px; }
article h1, article h2, article h3, article h4, article h5, article h6, article h7, article h8 {
	font-weight: bold; margin: 0; padding-bottom: 2px;
}
article a img { vertical-align: bottom; }
article img { max-width: 100%!important; }
article iframe { max-width: 100%!important; }
article video { max-width: 100%!important; }
article fieldset { color: #FFFFFF; border-color: #FFFFFF; }
article legend { color: #FFFFFF; border-color: #FFFFFF; }

/* footer */
footer > nav { margin-left: auto; padding: 1em; }

/* fixed-width fonts */
pre, code { white-space: pre-wrap!important; }
pre, code, blockquote {
	max-width: 100%!important;
	font-family: Courier, 'Lucida Console','Courier New', Serif;
}

/* input */
input, textarea, select, option {
	font-family: Sans-Serif; 
	font-size: 100%;
	padding: 2px;
	border-top: solid 1px #FFFFFF;
	border-bottom: solid 1px #FFFFFF;
	border-left: solid 1px #FFFFFF;
	border-right: solid 1px #FFFFFF;
	background-color: #000000;
	color: #FFFFFF;
	margin: 2px;
}
