/* inri.net */
body {
	font-family :'Lucida Sans Unicode','Lucida Sans', 'Trebuchet MS', 'Lucida Grande', 'Bitstream Sans Vera', Verdana, Arial, Tahoma, Helvetica, Sans-Serif;
	font-style : normal;
	padding: 2px 2em;
	line-height: 1.5em;
	font-size: 70%;
	background: #FFF;
	color: #111;
}


/* # Header # */
.superHeader {
  color: white;
  background-color: gray;
  height: 1.6em;
}

.superHeader img { vertical-align: bottom; }

.superHeader a {
  color: white;
  background-color: transparent;
  font-size: 91%;
  margin: 0;
  padding: 0 0.5ex 0 0.25ex;
}

a { text-decoration: none; }
a:hover { text-decoration: underline; }

.superHeader div {
  position: absolute;
  top: 0.40ex;
}

.superHeader .left { left: 0.4em; }
.superHeader .right { right: 0.4em; }

.midHeader {
  color: gray;
  background-color: gray;
  background-color: #ff6d06;
  border: solid 0 black;
  border-width: 2px 0;
}

.headerTitle {
  color: black;
  font-size: 233%;
  font-weight: normal;
  margin: 0 0 0 4mm;
  padding: 0.25ex 0;
}
#headerSubTitle {
  font-size: 50%;
  font-style: italic;
  margin-left: 1em;
}

.headerTitle a { color: black; }
.headerTitle a:hover { text-decoration: none; }

.subHeader {
  display: none;
  color: white;
  background-color: gray;
  margin: 0;
  padding: 1ex 1ex 1ex 1.5mm;
}

.subHeader a {
  color: white;
  background-color: transparent;
  font-weight: bold;
  margin: 0;
  padding: 0 0.75ex 0 0.5ex;
}  

.superHeader .highlight, .subHeader .highlight {
  color: gray;
  background-color: transparent;
}


/* # Side # */
#side-bar {
  width: 16em;
  float: left;
  clear: left;
  border-right: 1px solid white;
}

#side-bar div {
  border-bottom: 1px solid white;
}

.sideBarTitle {
  font-weight: bold;
  margin: 0 0 0.5em 2mm;
  padding: 1em 0 0 0;
}

#side-bar ul {
  list-style-type: none;
  list-style-position: outside;
  margin: 0;
  padding: 0 0 0.3em 0;
}

li ul {
  padding-left: 0.6em !important;
}

#side-bar li {
  margin: 0;
  padding: 0.1ex 0;  /* Circumvents a rendering bug (?) in MSIE 6.0  XXX should move to iehacks.css, this causes an ugly gap */
}

#side-bar a {
  color: gray;
  background-color: transparent;
  margin: 0;
  padding: 0.25em 1ex 0.25em 2mm;
  display: block;
  text-transform: capitalize;
  font-weight: bold!important;
  font-size: 102%;
  border-left: white solid 0.2em;
}

.thisPage, .thisPage a {
  color: black!important;
  background-color: white;
  padding-left: 5mm;
}

#side-bar a:hover {
  color: black;
  background-color: gray;
  border-left: gray solid 0.2em;
  text-decoration: none;
}

.sideBarText {
  line-height: 1.5em;
  margin: 0 0 1em 0;
  padding: 0 1.5ex 0 2.5mm;
  display: block;
}

#side-bar .sideBarText a {
  margin: 0;
  padding: 0;
  display: inline;
}

#side-bar .sideBarText a:hover {
  color: gray;
  background-color: transparent;
  text-decoration: none;
}


/* # Main Copy # */
#main-copy {
  max-width: 70em;
  color: black;
  background-color: transparent;
  text-align: justify;
  line-height: 1.5em;
  margin: 0em 0 0 16em;
  padding: 0.5mm 5mm 5mm 5mm;
  border-left: 1px solid white;
}

#bodyText {
  margin: 0 0 0 15.5em;
  padding: 2mm 5mm 2mm 5mm;
}

#main-copy p {
  margin: 1em 1ex 1em 1ex !important; /* Need !important so troff-generated pages don't look totally squezed */
  padding: 0;
}

#main-copy a {
  color: gray;
  background-color: transparent;
}

#main-copy a:hover {
  color:  gray;
}

#main-copy h1, #main-copy h2 {
  color: gray;
  background-color: transparent;
  font-size: 145.5%;
  font-weight: bold;
  margin: 2em 0 0 0;
  padding: 0.5ex 0 0.5ex 0.6ex;
  border-bottom: 2px solid gray;
}

#main-copy h2 {
  font-size: 115.5%;
  border-bottom: 1px solid gray;
}

#main-copy .topOfPage {
  color: gray;
  background-color: transparent;
  font-size: 91%;
  font-weight: bold;
  text-decoration: none;
  margin: 3ex 1ex 0 0;
  padding: 0;
  float: right;
}

#post {
	position: relative;
	left: 23%;
	width: 76%;
	padding-top: 25px;
	padding-bottom: 25px;
}

#post tr { background-color: transparent; }

#center {
	position: absolute;
	top: 210px;
	left: 1%;
	width: 65%;
	height: 100%;
}
#center h1 { font-size 8pt; font-family :'Lucida Sans Unicode','Lucida Sans', 'Trebuchet MS', 'Lucida Grande', 'Bitstream Sans Vera', Verdana, Arial, Tahoma, Helvetica, Sans-Serif; }

a { text-decoration: none; color: #000000; }
a:hover { color: #111;}
li:hover { color: #111 }
li a { color: #000000 }
li a:hover { color: #111; }
ul { list-style: none; padding-left: 0px; margin: 0px }

h1 { font-size: 8pt; font-weight: normal; }
h2 { font-size : 140%; }
h3 { font-size: 120%; }
h4 { font-size: 100%; }
h2, h3, h1, h4 {
	font-family: Georgia,'Trebuchet MS', 'Lucida Sans',  'Lucida Grande', 'Bitstream Sans Vera', Verdana, Arial, Tahoma, Helvetica, Sans-Serif;
	color : #000000; 
	margin: 0px 0px;
	padding: 2px 0px;
	clear: both;
}

input , textarea, select, option { background-color: #eee; border: none; }

dl {
  margin: 1em 1ex 2em 1ex;
  padding: 0;
}

dt {
  font-weight: bold;
  margin: 0 0 0 0;
  padding: 0;
}

dd {
  margin: 0 0 2em 2em;
  padding: 0;
}

#right {
	float: right;
	position: absolute;
	top: 210px;
	right: 1px;
	width: 34%;
	height: 100%;
	list-style: none;
}

/* sidebar */
#sidebar {
	position: relative;
	z-index: 100;
	width: 95%;
	top: 10px;
	right: 10px;
	left: 10px;
	margin: 2px;
	background: #FFFFFF;
}
#sidebar h2 {
	margin: 5px 0px 0px;
	padding: 4px 0px;
	font-size:100%;
}
#sidebar li { font-size: 8.5pt; }
#sidebar ul { margin: 2px; }

/*searchform*/
#searchform label { font-weight:bold; }
#searchform input { width: 20%; }
#searchform input.submit { width: 16%; }

#top {
	float: top;
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	height: 10%;
	width: 100%
	overflow: auto;
}


/* # Footer # */
#footer {
  font-size: 8pt;
  background-color: white;
  color: black;
}
#footer a { color: gray; text-decoration: none; }
#footer a:hover { color: #111; text-decoration: none; }
#footer table {  font-size: 8pt; }

#footer .left {
  text-align: left;
  line-height: 1.55em;
  float: left;
  clear: left;
}

#footer .right {
  text-align: right;
  line-height: 1.45em;
}

/* GENERAL */

table {
  background-color: transparent;
  border: none;
}
tr {
  background-color: transparent;
  border: none;
}
th {
  background-color: transparent;
  border: none;
  text-align: center;
}
td {
  background-color: transparent;
  border: none;
}

hr {
  border-width: 0px 0px 0.1em 0px;
  border-color: transparent;
}

acronym, .titleTip {
  border-bottom: 1px solid #ddd;
  cursor: help;
  margin: 0;
  padding: 0 0 0.4px 0;
}

pre {
  margin-left: 2em; 
  font-size: 1.2em;
}

blockquote {
  border-left: none;
  font-style: none;
  background-color: silver;
}

.smallCaps {
  font-size: 110%;
  font-variant: small-caps;
}

.doNotDisplay { display: none; }


.notify_errors,
.notify_notes,
.notify_success { padding: .8em; margin-bottom: 1em; border: 2px solid #ddd; }
 
.notify_errors { background: #FBE3E4; color: #8a1f11; border-color: #FBC2C4; }
.notify_notes { background: #FFF6BF; color: #514721; border-color: #FFD324; }
.notify_success { background: #E6EFC2; color: #264409; border-color: #C6D880; }
.notify_errors a { color: #8a1f11; }
.notify_notes a { color: #514721; }
.notify_success a { color: #264409; }


/* # Page/Handler specific # */
h1.dir-list-head, ul.dir-list {
  text-transform: capitalize;
  font-weight: bold;
}
ul.sitemap-list a {
  text-transform: capitalize;
}
