/* okturing.com */
body { display: flex; flex-wrap: wrap; font-family: sans; }
header { flex-basis: 100%; flex-shrink: 0; }
article { flex-basis: 100%; padding: 1em; }
footer { flex-basis: 100%; flex-shrink: 0; }
header nav { display: flex; justify-content: space-between; }
nav a, header a { text-decoration: none ; color: inherit; }
header h1 span { margin-left: 1em; font-size: 50%; font-style: italic; }
body > nav { flex-basis: content; padding-right: 1vw; min-width: 16em; }
nav ul { display: flex; flex-direction: column; list-style-type: none; list-style-position: outside; padding-left: 0;  }
nav li ul { padding-left: 0.6em }
footer { display: flex; justify-content: space-between; }

/* cut here to leave vanity behind */

body { margin:0; padding: 0; font-size: 84%; font-family: 'Lucida Sans Unicode', 'Lucida Sans', 'Lucida Grande', 'Bitstream Sans Vera', Sans-Serif; background-color: #FFFFFF; color: #000000; }
a:hover { text-decoration: none; background-color: #FFFFFF; color: #000000; }

/* header and top bar */
header nav { background-color: #FFFFFF; color: #000000; padding: 0em; border-bottom: 2px solid #FFFFFF; font-size: 91%; }
header h1 { background-color: #FFFFFF; color: #000000; margin: 0; border-bottom: 2px solid #FFFFFF; font-weight: normal; padding: 0.25ex; font-size: 233%; }

/* sidebar */
body > nav { border-right: 1px solid #FFFFFF; padding: 0;  } 
body > nav > div { border-bottom: 1px solid #FFFFFF; } 
body > nav > div a { background-color: #00ff00; color: #000000; display: block; text-transform: capitalize; font-weight: bold; padding: 0.25em 1ex 0.25em 2mm; font-size: 102%} 
body > nav > div a:hover { color: #FFFFFF; background-color: #000000 border-left: #FFFFFF solid 0.2em; text-decoration: none; }
body > nav > div p { font-weight: bold; margin: 0 0 0.5em 2mm; padding: 1em 0 0 0; }

/* main copy */
article { padding: 1em;  }
article h1, article h2 { color: #000000; font-weight: bold; margin: 2em 0 0 0; border-bottom: 2px solid #FFFFFF; }
article h3, article h4, article h5 { #000000; font-weight: bold; margin: 2em 0 0 0; }
article h6, article h7, article h8 { color: #000000; font-weight: bold; margin: 2em 0 0 0; }
article a { background-color: #FFFFFF; color: #000000; text-decoration: none; }
article a:hover { text-decoration: none; background-color: #000000; color: #FFFFFF; }
article a img { display: block; border: 0 none; }

/* footer */
footer { color: #000000; background-color: #FFFFFF; }
footer a { background-color: #FFFFFF; color: #000000; }
footer div { padding: 1em; }

input, textarea, select, option {
	font-family: 'Lucida Sans Unicode', 'Lucida Sans', 'Lucida Grande', 'Bitstream Sans Vera', Sans-Serif;
	font-size:100%;
	padding: 2px;
	background : #eee;
	color : #111; 
	border: 1px solid #fff;
	margin: 2px;
}

pre, code, blockquote {
	white-space: pre-wrap;
	padding-left: 2em;
	font-family: Courier, 'Lucida Console','Courier New', Serif;
}
