/* other */
body {
	color: blue;
	background-color: white;
	font-family: 'Lucida Sans Unicode', 'Lucida Sans', 'Lucida Grande', 'Bitstream Sans Vera', Sans-Serif;
	font-size: 84%;  /* Enables font size scaling in MSIE */
	margin: 0;
	padding: 0;
}
a { text-decoration: none; color: blue; }
a:hover { color: purple; background-color: white; text-decoration: none; }
li:hover { color: purple; background-color: white; text-decoration: none; }
li a { color: blue; }
li a:hover { color: purple; background-color: white; text-decoration: none; }
h1 { font-size: 10pt; font-weight: normal; }
h2 { font-size: 9pt; font-weight: normal; }
input , textarea, select, option { background-color: #eee; border: none; }
li ul {
	padding-left: 0.6em !important;
}
table { border: none; background-color: transparent; }
th {
	background-color: transparent;
	border: none;
	 text-align: center;
}
tr:nth-child(odd) { background-color: transparent; }
td {
	background-color: transparent;
	border: none;
}
hr {
	border-width: 0px 0px 0.1em 0px;
	border-color: transparent;
}
pre, code, blockquote {
	Courier, 'Lucida Console','Courier New', Serif;
	margin-left: 2em; 
	font-size: 1.2em;
}
blockquote {
	border-left: none;
	font-style: none;
	background-color: #eee;
}
#center {
	width: 500px;
	margin-left: auto;
	margin-right: auto;
	line-height: 0;
}
/* #center p {
	line-height: 1;
	-webkit-margin-before: 0px;
	-webkit-margin-after: 0px;
} */
#footer {
	font-size: 8pt;
	background-color: white;
	color: blue;
	margin-left: auto;
	margin-right: auto;
}
#footer a { color: blue; text-decoration: none; }
#footer a:hover { color: purple; background-color: white; text-decoration: none; }
#footer table {  font-size: 8pt; }
#text { line-height: 1; }
