/* nothing */
body {
	display: flex;
	flex-wrap: wrap;
	color: black;
	background-color: white;
	font-family: 'Lucida Sans Unicode', 'Lucida Sans', 'Lucida Grande', 'Bitstream Sans Vera', Sans-Serif;
	font-size: 84%;  /* Enables font size scaling in MSIE */
	margin: 0;
	padding: 0;
}
header, article, footer { flex-basis: 100%; }
a { text-decoration: none; color: gray; }
a:hover { color: #111; text-decoration: none; }
a img { display: block; border: 0 none; }
li:hover { color: #111; text-decoration: none; }
li a { color: gray }
li a:hover { color: #111; text-decoration: none; }
li ul { padding-left: 0.6em !important; }
h1 { font-size: 10pt; font-weight: normal; }
h2 { font-size: 9pt; font-weight: normal; }
input , textarea, select, option { background-color: gray; border: none; }
table { border: none; background-color: transparent; }
th {
	background-color: transparent;
	border: none;
	 text-align: center;
}
tr:nth-child(odd) { background-color: transparent; }
td {
	background-color: transparent;
	border: none;
}

hr {
	border-width: 0px 0px 0.1em 0px;
	border-color: transparent;
}
pre, code, blockquote {
	font-family: Courier, 'Lucida Console','Courier New', Serif;
	margin-left: 2em; 
	font-size: 1.2em;
}
blockquote {
	border-left: none;
	font-style: none;
	background-color: gray;
}
#center {
	width: 500px;
	margin-left: auto;
	margin-right: auto;
}
#center h1 { font-size 9pt; }
#footer {
	font-size: 8pt;
	background-color: white;
	color: gray;
	margin-left: auto;
	margin-right: auto;
}
#footer a { color: gray; text-decoration: none; }
#footer a:hover { color: #111; text-decoration: none; }
#footer table {  font-size: 8pt; }
